/*Estilizando Main e o Titulo principal*/
main {
    display: flex;
    flex-direction: column;
    margin: 15px 5px;
    padding: 5px;
    background: var(--branco);
    border-radius: 8px;    
}



h2 {
    font-weight: bold;
    color: var(--verde-escuro);
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 2em;
    text-align: center;
}

form {
    display: flex;
    justify-content: flex-start;
}

del {
    color: rgba(0, 0, 0, 0.3);
}
