/*Botões*/
button {
    color: black;
    background-color: var(--verde-claro);
    border-radius: 1.8em;
    padding: 0.4em 1em;
    border: 2px solid var(--verde-claro);
    transition: .2s;
    cursor: pointer;

        &:hover {
        background-color: var(--amarelo);
        color: black;
    }
}

#delete:hover{
    background-color: rgb(238, 56, 56);
    color: cornsilk;
}