<!doctype html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List EasyFARM</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <main id="app">
        <header> <!--Adicionando Ícone e Título-->
            <h2>
                <i class="fas fa-seedling fa-2x"></i>
                EasyFARM ToDo List
            </h2>
            <form> <!--Adicionando Formulário e botão com evento 'click' disparado pelo botão-->
                <input type="text" v-model="currentTodo" placeholder="Tarefas a fazer" maxlength="500"><!--o atributo v-model faz o biding bi-direcional para que o Vue decida o que fazer com o currentTodo-->
                <button @click.prevent="adicionarTodo" v-if="addOrEdit === 'add'">Adicionar</button><!--Dispara o evento no click para acionar a função adicionarTodo-->
                <button @click.prevent="updateTodo" v-if="addOrEdit === 'edit'">Atualizar</button><!--Dispara o evento no click para acionar a função updateTodo-->
            </form>
        </header>

        <section>
            <ol><!--Cria-se uma lista ordenada para armaenar cada tarefa criada-->
                <li v-for="todo in filteredTodos" :key="todo.text">
                    <div v-on:click="toggleTodo(todo)">
                        <input type="checkbox" v-bind:checked="todo.done">

                        <label>
                            <del v-if="todo.done">
                                {{ todo.text }}
                            </del>
                            <span v-else>
                                {{ todo.text }}
                            </span>
                        </label>
                    </div>
                    <div><!--Botões de editar e deletar acionando as funções editTodo e deleteTodo respectivamente-->
                        <button id='editar' @click="editTodo(todo.id)" alt="editar">Editar</button>
                        <button id='delete' @click="deleteTodo(todo)" alt="fechar">Apagar</button>
                    </div>
                </li>
            </ol>
        </section>
    </main>

    <footer id="footer"><!--Adição de um simples footer contendo as redes socias da empresa,site e copyright-->
        <h3 id="title">Siga</h3>
        <div class="links-redes-sociais">
            <a href="#" target="_blank">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="#" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
        </div>
        <div class="copy">
            <small><a href="https://www.easyfarm.io/software-para-fazenda-2x-mais-rapido/?utm_source=google&utm_medium=Search&utm_campaign=_institucional_easyfarm_&utm_term=easyfarm&utm_campaign=Institucional+com+Sitelinks&utm_source=adwords&utm_medium=ppc&hsa_acc=9125761953&hsa_cam=12447144927&hsa_grp=119265121878&hsa_ad=501729805897&hsa_src=g&hsa_tgt=aud-903554228092:kwd-519484409647&hsa_kw=easyfarm&hsa_mt=e&hsa_net=adwords&hsa_ver=3" target="_blank">
        <i class="fas fa-seedling"></i><b>EasyFARM 2021</b>.All rigths reserved</a></small>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script><!--Adicionand o VueJS via CDN-->
    <script src="main.js"></script>

</body>

</html>


